/*  css   */ 
 @import 'https://fonts.googleapis.com/css?family=Nova+Flat';
  * {
  padding: 0;
  margin: 0;
  font-family: 'arial';
  text-decoration: none;
  box-sizing: content-box; }

header > img {
  margin:10px 10px 10px 10px;
}
 nav {
    width: 100%;
    padding: 25px 0;
    background-color:#bf4243;
    margin:0 auto;
    text-align:center; }
     nav ul {
      margin-left: 30px;
      margin-bottom:0; }
       nav ul li {
        display: inline; }
         nav ul li a {
          font-weight: bold;
          color: #fff;
          text-transform: uppercase;
          padding: 10px;
          text-decoration: none; }
          nav ul li a:hover {
          font-weight: bold;
          color: #111315;
          text-transform: uppercase;
          padding: 10px;
          text-decoration: none; }


.icon {
   display:none; ;
}


/*# sourceMappingURL=menu.css.map */


/*   começo do banner de boas vindas     */
.baner {
  background-image:url(../images/cruz.jpg);
  background-size:cover;
  width:100%;
  height:550px;
  margin-top:-20px;
}
.baner > h1 {
   font-size:5em;
   font-family: 'Nova Flat', cursive;;
   padding-top:150px;
   color:#cccccc;
   text-shadow: 1px 2px black;
}
.baner > h3 {
   font-size:2.5em;
   font-family: 'Nova Flat', cursive;;

   color:#cccccc;
   text-shadow: 1px 2px black;
}

/* final do banner // começo das programações*/
.program {
  width:100%;
  height:700px; }
.program h3 {
  color:#bf4243;
  font-size:7.3em;
  padding:35px 0px 0px 80px;
  float:left;

}
.versi {
  padding-top:80px;
  font-size:1.7em;
  color:#444;
} 

.box {
  width:250px;
  height:300px;
  margin:0 auto;
  margin-top:100px;
  text-align:center;

 }
.box>img {
  padding:10px;
}
/* Botão box   */
button.css3button {
  margin:10px;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 14px;
  color: #ffffff;
  padding: 0px 19px;
  background: -moz-linear-gradient(
    top,
    #bf4242 0%,
    #bf4242);
  background: -webkit-gradient(
    linear, left top, left bottom,
    from(#bf4242),
    to(#bf4242));
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
  border-radius: 5px;
  border: 0px solid #bf4242;
  -moz-box-shadow:
    6px 3px 11px rgba(0,0,0,0.6),
    inset 0px 0px 1px rgba(191,66,66,0.8);
  -webkit-box-shadow:
    6px 3px 11px rgba(0,0,0,0.6),
    inset 0px 0px 1px rgba(191,66,66,0.8);
  box-shadow:
    6px 3px 11px rgba(0,0,0,0.6),
    inset 0px 0px 1px rgba(191,66,66,0.8);
  text-shadow:
    0px -1px 0px rgba(000,000,000,0.5),
    0px 1px 0px rgba(255,255,255,0.3);
}
/* fim do botão*/

.fim {
  background-color:#333;
  width:100%;
  height:600px;
}
.video1 {
  margin-top:150px;
  left:10px;
}
.video1 > h3 {
  color:#fff;
  font-size:1.9em;
}
.texto{
  color:#fff;
  text-align:justify;
  margin-top:150px;
  margin-left:30px;
}
.rodape
{
width:100%;
height:auto;
  background-color:#333;

}
footer{
  width:70%;
  height:30px;
  background-color:#333;
  margin:0 auto;
  border-top:1px solid #fff;
  color:#fff;
}
@media screen and (max-width: 600px) {
   
     nav ul {
    display: none; }
    nav ul li a {
      display: block; }
      nav ul li a:hover {
        background-color: #9F111B;
        color: #111315;
        text-decoration:none; }
         

  .icon {
    display: block;
    color: white;
    margin-top: -10px;
    margin-left: 20px; 
    float:left; }

.program {
  height:1550px;
  width:auto;

}
.box {
  width:150px;
  height:300px;
  margin:0 auto;
  margin-top:100px;
  text-align:center;

    }}
.fim {
 
  height:900px;
}
 /* video responsivo  */
     .embed-container { position: relative; padding-bottom: 56.25%; height: 0; overflow: hidden; max-width: 100%; } .embed-container iframe, .embed-container object, .embed-container embed { position: absolute; top: 0; left: 0; width: 100%; height: 100%; }
    /* fim */
    
.texto{
float:left;

  }

.page2 > h1 {
   font-size:4em;
   font-family: 'Nova Flat', cursive;;
   padding-top:5,0px;
   color:#000; }